<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="30" fxFlex.md="40" fxFlex.sm="80" fxFlex.xs="98">
    <div class="auth-container">
      <mat-card class="reset-password-card header-card">
        <mat-card-header fxLayoutAlign="center center">
          <mat-card-title>
              Reset password
          </mat-card-title>
          <span fxFlex></span>
          <div>
            <button fxFlex mat-raised-button routerLink="/auth/signin" preserveQueryParams="true">
              <mat-icon aria-label="Back">chevron_left</mat-icon>
              <span>Back</span>
            </button>
          </div>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="formResetPassword" (submit)="onSubmit()" id="formResetPassword" class="material-form">
            <mat-form-field>
              <input matInput formControlName="email" name="email" type="email" required placeholder="Email" maxlength="255" />
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="row" fxLayoutAlign="center center">
            <span fxFlex></span>
            <button mat-raised-button type="submit" color="primary" form="formResetPassword" class="text-uppercase">Send
              email</button>
          </div>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
