<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
  <section>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
      <div fxFlex="30">
          <ngx-avatar src="{{getProfilePicture() | async}}" size="150"></ngx-avatar>
      </div>
      <div fxFlex="70">
        <!-- <form [formGroup]="formEditProfile" (submit)="onSubmit()" id="formEditProfile" class="material-form">
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
            <mat-form-field fxFlex="50">
              <input matInput formControlName="firstName" name="firstName" name="text" required placeholder="First Name"
                maxlength="30" />
            </mat-form-field>
            <mat-form-field fxFlex="50">
              <input matInput formControlName="lastName" name="lastName" type="text" name="lastName" required
                placeholder="Last name" maxlength="30" />
            </mat-form-field>
          </div>

          <mat-form-field>
            <input matInput formControlName="email" name="email" type="email" required placeholder="Email" maxlength="255" />
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="password" name="password" type="password" required placeholder="Password"
              minlength="6" maxlength="20" />
          </mat-form-field>
        </form> -->
      </div>
      <button mat-raised-button type="submit" color="primary" form="formEditProfile">Save</button>
    </div>
  </section>
</div>
