@import './vendors/all';
@import './abstracts/all';
@import './base/all';
@import './components/all';

html,
body {
  font-family: $font-family;
  height: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: $body-font;
}
